<!DOCTYPE html>
<html>
<head>
  <title>Iftoggle</title>
  <%= stylesheet_link_tag    "iftoggle/application", media: "all" %>
  <%= javascript_include_tag "iftoggle/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
